<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Features</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.angular}}</code>Angular</mat-card-title>
        <mat-card-subtitle>
          Modern powerful framework
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/angular/angular" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.material}}</code>Angular Material</mat-card-title>
        <mat-card-subtitle>
          Material design component library
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://material.angular.io/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/angular/material2/" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.angularCli}}</code>Angular Cli</mat-card-title>
        <mat-card-subtitle>
          Responsive layout from battle tested, world most famous UI library
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://github.com/angular/angular-cli/wiki/generate" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/angular/angular-cli" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.ngrx}}</code>ngRx</mat-card-title>
        <mat-card-subtitle>
          One way data flow powered by RxJS Observables
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://github.com/ngrx/platform" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
          <a mat-button href="https://github.com/ngrx/effects/blob/master/docs/testing.md" target="_blank">
            <i class="fa fa-code fa-lg"></i> Testing
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.rxjs}}</code>RxJS</mat-card-title>
        <mat-card-subtitle>
          Reactive programming with async collections using Observables.
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="http://reactivex.io/rxjs/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/ReactiveX/RxJS" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.bootstrap}}</code>Bootstrap</mat-card-title>
        <mat-card-subtitle>
          Responsive layout from battle tested, world most famous UI library
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://github.com/twbs/bootstrap" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title><code>{{versions.typescript}}</code> Typescript</mat-card-title>
        <mat-card-subtitle>Superior developer experience, code completion, refactoring and less bugs</mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://github.com/Microsoft/TypeScript" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
          <a mat-button href="https://www.typescriptlang.org/docs/home.html" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>Themes</mat-card-title>
        <mat-card-subtitle>Flexible theming support for provided and custom components</mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://material.angular.io/guide/theming" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a mat-button href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1" target="_blank">
            <i class="fa fa-medium fa-lg"></i> Blog
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>Lazy loading</mat-card-title>
        <mat-card-subtitle>Faster startup time with lazy loaded feature modules</mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/guide/router.html#!#lazy-loading-route-config" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
