@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    mat-icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    top: -4px;
    left: 5px;
  }
}
