<div class="background">
  <div class="container">
    <h1>Angular ngRx Material Starter</h1>
    <div class="actions">
      <a md-raised-button color="primary" routerLink="../features">Check Features</a>
      <a md-raised-button color="accent" routerLink="../examples">Check Examples</a>
      <a md-raised-button routerLink="../settings">Change Theme</a>
    </div>
    <div class="get-started">
      <h2>Getting started</h2>
      <code>git clone https://github.com/tomastrajan/angular-ngrx-material-starter.git new-project</code><br>
      <code>cd new-project</code><br>
      <code>npm install</code><br>
      <code>npm start</code>
    </div>
  </div>
</div>
