@import '~@angular/material/theming';

@mixin about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .background {
    color: mat-color($foreground, text);
    background-color: mat-color($background, background);
  }

}

