@import 'styles-variables';

.background {
  padding: 100px 0;
  position: relative;

  h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 10px;
    }

    a {
      margin: 0 0 10px 0;
    }
  }

  .get-started {
    width: 700px;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
    font-size: 0.9em;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;

    code {
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 60%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .get-started {
      width: auto;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 0 0 10px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 0 auto;
      padding-bottom: 40px;
    }
  }
}
