<div class="container" *ngIf="(todos | async) as todoItems">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input [placeholder]="'anms.examples.todos.input' | translate" [value]="newTodo" (keyup)="onNewTodoChange($event.target.value)"
        (keyup.enter)="!isAddTodoDisabled && onAddTodo()" (keyup.escape)="onNewTodoClear()">
        <anms-big-input-action ariaLabel="add todo" fontSet="fas" fontIcon="fa-plus" faIcon="plus" color="accent"
          (action)="onAddTodo()" [disabled]="isAddTodoDisabled" [matTooltip]="'anms.examples.todos.tooltip.add' | translate"
          matTooltipPosition="before">
        </anms-big-input-action>
        <anms-big-input-action ariaLabel="remove done items" fontSet="fas" fontIcon="fa-trash" faIcon="trash" color="warn"
          (action)="onRemoveDoneTodos()" [disabled]="removeDoneDisabled | async" matTooltip="Remove done todos"
          [matTooltip]="'anms.examples.todos.tooltip.remove' | translate" matTooltipPosition="after">
        </anms-big-input-action>
      </anms-big-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>
        {{ 'anms.examples.todos.list' | translate }}
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter" aria-label="open filter menu">
          <fa-icon icon="filter"></fa-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }"
            aria-label="show all items">
            <mat-icon>
              <fa-icon icon="tasks"></fa-icon>
            </mat-icon>
            <span>{{ 'anms.examples.todos.filter.all' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }"
            aria-label="show completed items">
            <mat-icon>
              <fa-icon icon="check"></fa-icon>
            </mat-icon>
            <span>{{ 'anms.examples.todos.filter.done' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }"
            aria-label="show active items">
            <mat-icon>
              <fa-icon icon="square"></fa-icon>
            </mat-icon>
            <span>{{ 'anms.examples.todos.filter.active' | translate }}</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info d-none d-sm-block d-md-none d-lg-block">
          <mat-chip [disabled]=true [ngPlural]="todoItems.length">
            {{ 'anms.examples.todos.filter.description' | translate }}
            <ng-template ngPluralCase="other">{{ todoItems.length }} {{ 'anms.examples.todos.filter.items' |
              translate }}</ng-template>
            <ng-template ngPluralCase="=1">{{ 'anms.examples.todos.filter.one' | translate }} {{
              'anms.examples.todos.filter.item' | translate }}</ng-template>
            <ng-template ngPluralCase="=0">{{ 'anms.examples.todos.filter.none' | translate }} {{
              'anms.examples.todos.filter.items' | translate }}</ng-template>
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of todoItems" class="todo" [ngClass]="routeAnimationsElements" data-testid="todo-item">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></mat-checkbox>
        <span class="todo-label" [ngClass]="{ 'todo-label-done': todo.done }" (click)="onToggleTodo(todo)" aria-label="toggle todo">
          &nbsp;{{todo.name}}&nbsp;
        </span>
      </mat-card>
      <br>
      <br>
    </div>
    <div class="offset-md-1 col-md-5">
      <h2>{{ 'anms.examples.todos.example' | translate }}</h2>
      <p>
        {{ 'anms.examples.todos.text1' | translate }}
        <code>{{ 'anms.examples.todos.text2' | translate }}</code>
        {{ 'anms.examples.todos.text3' | translate }}
      </p>
      <p>
        {{ 'anms.examples.todos.text4' | translate }} <code>ngrx</code>
        {{ 'anms.examples.todos.text5' | translate }}
      </p>
      <p>{{ 'anms.examples.todos.text6' | translate }}</p>
      <br>
    </div>
  </div>
</div>