<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input placeholder="I am going to do..."
                      [value]="newTodo"
                      (keyup)="onNewTodoChange($event.target.value)"
                      (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                      (keyup.escape)="onNewTodoClear()">
        <anms-big-input-action icon="add" color="accent"
                               (action)="onAddTodo()"
                               [disabled]="isAddTodoDisabled"
                               mdTooltip="Add new todo" mdTooltipPosition="before">
        </anms-big-input-action>
        <anms-big-input-action icon="delete_forever" color="warn"
                               (action)="onRemoveDoneTodos()"
                               [disabled]="isRemoveDoneTodosDisabled"
                               mdTooltip="Remove done todos" mdTooltipPosition="after">
        </anms-big-input-action>
      </anms-big-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>
        Todo List
        <button class="todos-filter" md-icon-button [mdMenuTriggerFor]="todosFilter">
          <md-icon>filter_list</md-icon>
        </button>
        <md-menu class="todos-filter-menu" #todosFilter="mdMenu" xPosition="before">
          <button md-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }">
            <md-icon>assignment</md-icon>
            <span>All</span>
          </button>
          <button md-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }">
            <md-icon>done</md-icon>
            <span>Done</span>
          </button>
          <button md-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }">
            <md-icon>check_box_outline_blank</md-icon>
            <span>Active</span>
          </button>
        </md-menu>
        <md-chip-list class="todos-filter-info">
          <md-chip>
            Displaying {{todos.filter !== 'ALL' ? filteredTodos.length : ''}}
            {{todos.filter.toLowerCase()}}
            {{todos.filter === 'ALL' ? filteredTodos.length : ''}}
            todo{{filteredTodos.length > 1 ? 's' : ''}}
          </md-chip>
        </md-chip-list>
      </h2>
      <md-card *ngFor="let todo of filteredTodos" class="todo" [ngClass]="animateOnRouteEnter">
        <md-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></md-checkbox>
        <span class="todo-label" (click)="onToggleTodo(todo)">{{todo.name}}</span>
      </md-card>
      <br>
      <br>
    </div>
    <div class="offset-md-1  col-md-5">
      <h2>Todo Example</h2>
      <p>
        This is a classic <code>todo</code> example with support for
        adding, toggling, removing and filtering of the todo items.
      </p>
      <p>
        State handling is implemented using <code>ngrx</code> module
        and support for lazy loaded reducers (this is a lazy loaded feature module).
      </p>
      <p>
        Todos are persisted into local storage so you should see your todos
        also on later visits when using the same browser.
      </p>
      <br>
    </div>
  </div>

</div>
