language: node_js
node_js:
  - "node"
dist: trusty
addons:
  chrome: stable
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm i -g npm@5.7.0
  - npm ci
script:
  # run build script specified in package.json
  - npm run ci
  # call script for deploying of produced artifacts
  - bash ./.travis-deploy.sh
