$slang-light-primary: mat-palette($mat-grey, 200, 500, 300);
$slang-light-accent: mat-palette($mat-brown, 200);
$slang-light-warn: mat-palette($mat-deep-orange, 200);

$slang-light-theme: mat-light-theme(
  $slang-light-primary,
  $slang-light-accent,
  $slang-light-warn
);
