nav {
  margin-bottom: 20px;

  .mat-tab-link {
    min-width: 130px;
  }
}

.nav-responsive {
  padding: 0 0 24px 0;

  a {
    width: 100%;
    display: inline-block;
    padding-top: 14px;

    mat-icon {
      float: left;
      position: relative;
      top: -1px;
    }
  }
}
