<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo"/> <span>Angular Starter</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <mat-toolbar color="primary">
      <button mat-icon-button class="hidden-md-up" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span routerLink="" class="branding spacer hidden-md-up text-center"><img
        [src]="logo"/> Angular Starter</span>
      <span routerLink="" class="branding spacer hidden-sm-down"><img
        [src]="logo"/> Angular ngRx Material Starter</span>

      <span class="hidden-sm-down">
        <button mat-button class="nav-button" *ngFor="let item of navigation"
            [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
      </span>

      <button mat-button class="sign-in-button"
              *ngIf="!isAuthenticated"
              (click)="onLoginClick()">
        Sign in
      </button>

      <button *ngIf="isAuthenticated"
              mat-icon-button
              [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="settings" class="hidden-sm-down">
        <mat-icon>settings</mat-icon>
      </button>

      <a matTooltip="Project Github Repository"
         matdTooltipPosition="before"
         mat-icon-button class="link"
         href="https://github.com/tomastrajan/angular-ngrx-material-starter"
         target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>

    </mat-toolbar>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.github.com/tomastrajan" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span>Github</span>
          </a>
          <a href="https://www.medium.com/@tomastrajan" target="_blank">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <span>Medium</span>
          </a>
          <a href="https://www.twitter.com/tomastrajan" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
          <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
             target="_blank">
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            <span>Youtube</span>
          </a>
          <a href="https://www.instagram.com/tomastrajan" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
          <a href="https://www.slides.com/tomastrajan" target="_blank">
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
            <span>Slides</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Tomas Trajan
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <i class="fa fa-rocket"></i> {{version}}
          </a>
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
