@import 'styles-variables';

$footer-height: 140px;

.holder, .sidenav-container {
  height: 100%;
}

.toolbar {

  .nav-button {
    margin: 0 10px 0 0;
  }

  .branding {
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.container {
  margin-top: 20px;
}

.wrapper {
  z-index: -2;
  min-height: 100%;
  margin-bottom: -$footer-height;
}
.footer,
.push {
  height: $footer-height;
}

.footer {
  text-align: center;

  .row {
    padding: 10px 0;


    .links {
      a {
        transition: padding 0.5s;
        display: inline-block;
        padding: 20px 5px;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          width: 70px;
          padding: 0 0 0 5px;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          transition: width 0.5s;
        }
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        a {
          padding: 20px;

          span {
            width: 0;
            padding: 0;
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        a {
          padding: 20px 5px;
        }
      }
    }

    .signature {
      a {
        float: right;
      }
    }

  }
}

.sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      margin: 0 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0px;
  }
}
