<md-toolbar color="primary" class="toolbar">
  <span>Angular NGrx Material Starter</span>
  <span class="spacer"></span>
  <button md-button>About</button>
  <button md-button>Features</button>
  <button md-button>Examples</button>
  <button md-icon-button [mdMenuTriggerFor]="toolbarMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #toolbarMenu="mdMenu">
    <button md-menu-item>
      <md-icon>person</md-icon>
      <span>Manage account</span>
    </button>
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
    <button md-menu-item>
      <md-icon>power_settings_new</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
<h1>
  {{title}}
</h1>
<router-outlet></router-outlet>
