$anms-alternative-primary: mat-palette($mat-purple, 900);
$anms-alternative-accent: mat-palette($mat-amber, A700);
$anms-alternative-warn: mat-palette($mat-deep-orange);
$anms-alternative-theme: mat-light-theme($anms-alternative-primary, $anms-alternative-accent, $anms-alternative-warn);
