$anms-primary: mat-palette($mat-indigo, 900);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-deep-orange);

$anms-theme: mat-light-theme(
    $anms-primary,
    $anms-accent,
    $anms-warn
);
