$anms-primary: mat-palette($mat-indigo, 700, 300, 800);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-deep-orange, A200);

$anms-theme: mat-light-theme(
    $anms-primary,
    $anms-accent,
    $anms-warn
);
