$anms-primary: mat-palette($mat-purple, 900);
$anms-accent: mat-palette($mat-pink, A700);
$anms-warn: mat-palette($mat-deep-orange);

$anms-theme: mat-light-theme(
    $anms-primary,
    $anms-accent,
    $anms-warn
);
