<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Stock Market</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <form autocomplete="false">
        <mat-input-container>
          <input matInput placeholder="Stock symbol"
                 [value]="stocks.symbol"
                 (keyup)="onSymbolChange($event.target.value)">
        </mat-input-container>
      </form>
      <p>
        Please provide some valid stock market symbol like: GOOGL, FB, AAPL, NVDA, AMZN, TWTR, SNAP, TSLA...
      </p>
      <br>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-1">
      <mat-spinner *ngIf="stocks.loading"></mat-spinner>
      <mat-card *ngIf="stocks.stock">
        <mat-card-title>{{stocks.stock.symbol}} <span>{{stocks.stock.last}} {{stocks.stock.ccy}}</span></mat-card-title>
        <mat-card-subtitle>
          {{stocks.stock.exchange}}
          <span [ngClass]="{ negative: stocks.stock.changeNegative }">
            <i class="fa fa-caret-up" *ngIf="stocks.stock.changePositive"></i>
            <i class="fa fa-caret-down" *ngIf="stocks.stock.changeNegative"></i>
            {{stocks.stock.change}} ({{stocks.stock.changePercent}})
          </span>
        </mat-card-subtitle>
      </mat-card>
      <p *ngIf="stocks.error" class="error">
        <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i><br><br>
        <span>Stock <span class="symbol">{{stocks.symbol}}</span> not found</span>
      </p>
      <br>
      <br>
    </div>
    <div class="col-md-12 col-lg-4">
      <p>
        Stock market example shows how to implement <code>HTTP</code>
        requests using <code>@ngrx/effects</code> module.
      </p>
      <p>
        Updating symbol query with different symbol will emit action
        which updates state with loading flag (reducer) and triggers effect for retrieving
        of selected stock.
      </p>
      <p>
        Actions are debounced and every subsequent request will
        cancel previous one using <code>.switchMap</code>.
      </p>
      <p>
        Success or error actions are emitted on request completion.
        Loading spinner is removed and stock info or error message is displayed.
      </p>
    </div>
  </div>
</div>
