@import '~@angular/material/theming';

@mixin examples-component-theme($theme) {
  $warn: map-get($theme, warn);

  md-card {
    span {
      &.negative {
        color: mat-color($warn);
      }
    }
  }
  .error {
    i {
      color: mat-color($warn);
    }
  }
}

