h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

mat-card {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.mat-fab {
  .fa-icon {
    position: relative;
    top: 4px;
  }
}

.add {
  margin: 20px auto 0;
  display: block;
}

.col-md-6 {
  margin-bottom: 20px;
}
