<div class="container">
  <h1>{{ 'anms.examples.crud.title' | translate }}</h1>
  <div class="row">
    <div class="col-md">
      <h2>{{ 'anms.examples.crud.subtitle1' | translate }}</h2>
      <mat-card [ngClass]="routeAnimationsElements">
        <mat-nav-list>
          <a mat-list-item *ngFor="let book of books | async" (click)=select(book) [ngClass]="routeAnimationsElements">
            {{book.title}}
          </a>
        </mat-nav-list>
      </mat-card>
    </div>
    <div class="col-md">
      <span class="d-flex justify-content-between">
        <h2>{{ 'anms.examples.crud.subtitle2' | translate }} <span *ngIf="selectedBook | async as book"> : {{ book.id }} </span></h2>
        <span class="d-flex justify-content-end">
          <span *ngIf="(selectedBook | async) as book; else noBook;">
            <button mat-icon-button color="accent" (click)="select(book)">
              <mat-icon fontSet="fas" fontIcon="fa-eye" *ngIf="isEditing"></mat-icon>
              <mat-icon fontSet="fas" fontIcon="fa-edit" *ngIf="!isEditing"></mat-icon>
            </button>
          </span>
          <ng-template #noBook>
            <span>
              <button mat-icon-button color="accent" (click)="isEditing = !isEditing">
                <mat-icon fontSet="fas" fontIcon="fa-eye" *ngIf="isEditing"></mat-icon>
                <mat-icon fontSet="fas" fontIcon="fa-edit" *ngIf="!isEditing"></mat-icon>
              </button>
            </span>
          </ng-template>
          <span *ngIf="selectedBook | async as book">
            <button mat-icon-button color="warn" (click)="delete(book.id, bookForm)">
              <mat-icon fontSet="fas" fontIcon="fa-trash"></mat-icon>
            </button>
          </span>
        </span>
      </span>
      <form #bookForm="ngForm" [formGroup]="bookFormGroup" [style.display]="isEditing ? 'inherit' : 'none'">
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder1' | translate }}" formControlName="title"
              required autofocus>
            <mat-error *ngIf="bookFormGroup.get('title').invalid">{{ 'anms.examples.crud.placeholder1' | translate }}
              {{ 'anms.examples.crud.error' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder2' | translate }}" formControlName="author"
              required>
            <mat-error *ngIf="bookFormGroup.get('author').hasError('required')">{{ 'anms.examples.crud.placeholder2' | translate }}
              {{ 'anms.examples.crud.error' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <textarea matInput placeholder="{{ 'anms.examples.crud.placeholder3' | translate }}" formControlName="description"
              rows="5"></textarea>
            <mat-error *ngIf="bookFormGroup.get('description').invalid">{{ 'anms.examples.crud.placeholder1' |
              translate }}
              {{ 'anms.examples.crud.error' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row d-flex justify-content-around">
          <button type="button" mat-raised-button [ngClass]="routeAnimationsElements" (click)="clearForm(bookForm)" color="accent">{{'anms.examples.crud.new' | translate }}
          </button>
          <button *ngIf="selectedBook | async as book; else save" (click)="onSubmit(book)" mat-raised-button color="primary" [ngClass]="routeAnimationsElements">{{
            'anms.examples.crud.save' | translate }}
          </button>
          <ng-template #save let-book>
            <button (click)="onSubmit(book)" mat-raised-button color="primary" [ngClass]="routeAnimationsElements">{{ 'anms.examples.crud.save' | translate }}
            </button>
          </ng-template>
        </div>
      </form>
      <div [ngClass]="routeAnimationsElements" *ngIf="!isEditing && selectedBook | async as book">
        <h3>{{ book.title }}</h3>
        <mat-divider></mat-divider>
        <p>{{ book.description }}</p>
        <i>{{ book.author }}</i>
      </div>
      <p *ngIf="!isEditing && !(selectedBook | async) as book" [ngClass]="routeAnimationsElements" >
        {{'anms.examples.crud.text' | translate }} <code>@ngrx/entity</code>.
      </p>
      <button type="button" *ngIf="!isEditing" mat-raised-button color="primary" class="add" [ngClass]="routeAnimationsElements" (click)="clearForm(bookForm); isEditing=true;"> {{'anms.examples.crud.add' | translate }} </button>
    </div>
  </div>
</div>
