.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
mat-checkbox {
  margin: 10px 0 20px 0;
}
mat-slider {
  width: 100%;
}
.buttons {
  margin: 20px 0px;

  button {
    flex: 1 1 0;
    margin: 0 10px 0 0;

    &:last-of-type {
      margin: 0;
    }
  }
}
