$anms-dark-primary: mat-palette($mat-indigo, 900);
$anms-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$anms-dark-warn:    mat-palette($mat-deep-orange);
$anms-dark-theme:   mat-dark-theme($anms-dark-primary, $anms-dark-accent, $anms-dark-warn);
