.container {
  margin-top: 20px;
}

h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.group {
  margin: 0 0 40px 0;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

mat-icon {
  margin: 0 6px 6px 0;
  font-size: 20px;
}

mat-form-field {
  flex: 1 0 auto;
}
